* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration-line: none;
}
nav{
    width:100%;
    height:60px;
    position:fixed;
    z-index:999;
}
.gnb{
     max-width:1920px;
     height:100%;
     overflow:hidden;
     margin:0 auto;
     background:#fff;
     border-bottom:2px solid #cbcbcb;
}
.lnb{

    position:relative;
    float:left;
    left:200px;
    width:200px;
    height:60px;
    line-height: 60px;
    font-size:16px;
    text-align:center;
    font-weight:bold;
    list-style: none;
    
}
.active { color: red; }
#page-1{
    background:#fff;
    transition:all 1.0s ease-in-out;
}
#page-2{
    background:#1abc9c;
    transition:all 1.0s ease-in-out;
}
#page-3{
    background:#fff;
    transition:all 1.0s ease-in-out;
}

.worksbox{
    width:1533px;
    height:570px;
    margin:0px auto;
    padding-bottom:63px;
    padding-top:63px;
    display:flex;
    justify-content: space-around;
    overflow: hidden;
}
.workblcok{
    width:766px;
    height:507px;
    position:relative;
    top:0;
    left:0;

}
.gallery-box{
    width:445px;
    height:151px;
    position:absolute;
    top:270px;
    left:140px;
}
.design-box{
    width:445px;
    height:151px;
    position:absolute;
    top:270px;
    right:140px;
}
.worktitle{
    margin:0 auto;
    font-size:60px;
    font-weight: 700;
    text-align: center;
    color:#000;
    text-shadow:6px 6px 8px rgb(155 155 155 / 40%);
    transition:all 0.2s ease-in-out
}
.worktitle:hover{
    color:rgba(161, 161, 161, 0.808);
}
